.top-div{
    margin: auto;
    max-width: 855px;
}
.heading{
    color: var(--color-darkColor);
    font-family: var(--Font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    padding-top: 40px;
}

